/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
}
header {
    background-color: rgb(37, 37, 37);
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
}
.logo {
    width: 30%;
    height: 75px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav {
    margin-left: 792px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a {
    color:rgb(255, 255, 255);
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.devmountain {
    color: rgb(42, 171, 226);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: rgb(37, 37, 37);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    color:rgb(37, 37, 37);
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    margin: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.first-page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.content {
    padding-right: 15%;
    width: 45vw;
    margin: 0 auto;
    justify-content: center;
}
.box-one {
    background-color: sandybrown;
    width: 20vw;
    height: 30vh;
    margin-left: 60%;
    margin-top: 60%;

}
.second-page {
    width: 100vw;
    height: 100vh;
}
footer {
    background-color: rgb(42, 171, 226);
    margin: 0 auto;
    width: 100%;
    height: 13vh;
    padding-left: 2%;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.learn {
    background-color:rgb(42, 171, 226);
    width: 30vw;
    height: 13vh;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.circle {
    background-color:  rgb(42, 171, 226);
    width: 4vw;
    height: 6.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}







